

.box{
    width: 10%;
}
.aaa{
    display: grid;
    grid-template-areas:
    "card card card"
    "card card card"
    "card card card"
    "card card card"
    "card card card"
    "card card card";
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20%;
    grid-template-columns:30% 30% 30% ;
    margin-left: 200px;
}
.login{
    margin-left: 40%;
    width: 20%;
}


